@use "../../styles/variables" as *;
@use "../../styles/fonts-mixin" as *;

.textarea {
  color: $color-text-primary;

  &__field {
    outline: none;
    border: 1px solid $color-component-border;
    border-radius: 10px;
    padding: 8px 12px;
    width: 100%;
    height: 96px;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    resize: none;

    &::placeholder {
      color: $color-text-secondary;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 12px;
      background-color: $color-component-border;
    }

    &::-webkit-scrollbar {
      width: 8px;
    }

    &--error {
      border-color: $color-border-error !important;
    }
  }

  &__label {
    @include text;

    display: block;
    margin-bottom: 8px;
  }
}
