/* stylelint-disable no-descending-specificity */
@use "../../styles/fonts-mixin" as *;
@use "../../styles/variables" as *;

.multiple-select {
  @include text;

  position: relative;
  color: $color-text-primary;

  &__label {
    @include text;

    display: block;
    margin-bottom: 8px;
  }

  &__control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    height: 44px;
    gap: 10px;

    &:focus-visible:not(:disabled) {
      outline: none;
      border-color: $color-component-border-active;
    }

    &:hover:not(:disabled) {
      border-color: $color-component-border-hover;
    }

    &--error {
      border-color: $color-border-error;
    }
  }

  &__arrow {
    &--open {
      transform: rotate(180deg);
    }
  }

  &__values-container {
    display: flex;
    overflow-x: auto;
    max-width: calc(100% - 30px);
    gap: 4px;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    &:active {
      cursor: grabbing;
    }
  }

  &__placeholder {
    color: $color-text-secondary;
  }

  &__value {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding: 4px 8px 4px 12px;
    background-color: $color-background-component-tertiary;
    user-select: none;
    gap: 4px;
  }

  &__dropdown {
    position: absolute;
    z-index: 100;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-top: 8px;
    padding: 4px;
    max-height: 200px;

    &::-webkit-scrollbar-thumb {
      border-radius: 12px;
      background-color: $color-component-border;
    }

    &::-webkit-scrollbar {
      width: 8px;
    }
  }

  &__option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    padding: 12px 16px;
    background: none;

    &:hover,
    &:focus-visible {
      border-radius: 8px;
      background-color: $color-background-hover;
    }
  }

  &__control,
  &__option {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
  }

  &__control,
  &__dropdown {
    border: 1px solid $color-component-border;
    border-radius: 8px;
    width: 100%;
    background-color: $color-background-primary;
  }
}
