.employee-item {
  display: grid;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
  color: #000;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr) auto 100px;

  &__circle {
    display: inline-block;
    margin-right: 16px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background: #d9d9d9;
  }

  &__contacts-list {
    margin-top: 20px;
  }

  &__contacts-item {
    display: flex;
    align-items: center;

    & + & {
      margin-top: 6px;
    }
  }

  &__salary-list {
    margin-top: 20px;
  }

  &__salary-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & + & {
      margin-top: 6px;
    }
  }

  &__salary-label {
    margin-right: 16px;
  }

  &__official-documents-item {
    display: flex;
    flex-direction: column;

    & + & {
      margin-top: 6px;
    }
  }

  &__button {
    height: max-content;
    min-width: 0;
  }

  &--is-blank {
    border-left: 8px solid #aaa;
  }

  & + & {
    margin-top: 10px;
  }
}
