.employee-list {
  &__item {
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
    padding: 10px;

    &--is-blank {
      border-left: 8px solid #aaa;
    }

    & + & {
      margin-top: 10px;
    }
  }
}
