@font-face {
  src: url("/fonts/Inter-Medium.woff") format("woff");
  font-family: Inter;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("/fonts/Inter-SemiBold.woff") format("woff");
  font-family: Inter;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("/fonts/Inter-Regular.woff") format("woff");
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@mixin text {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

@mixin text-semibold {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

@mixin subhead1-medium {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

@mixin subhead2 {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

@mixin caption {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

@mixin h3 {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
}

@mixin h4 {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.4;
}

@mixin h5 {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
}

@mixin h6 {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
