:root {
  --sidebar-width: 320px;
  --sidebar-collapsed-width: 88px;
  --mobile-controls-panel-height: 80px;
  --color-white: #fff;
  --color-text: #172f3d;
  --color-accent-first: #0c8bb4;
  --color-accent-last: #f53893;
  --color-link: var(--color-accent-first);
  --color-copyright-link: var(--color-accent-last);
  --accent-gradient-color-1: #fff0fc;
  --accent-gradient-color-2: #eceaff;
  --accent-gradient-color-3: #e1f1ff;
  --auth-bg-accent-color-first: #81b4ff;
  --auth-bg-accent-color-last: #ffc1ee;
  --sidebar-background-gradient: linear-gradient(0deg, rgb(224 223 246 / 50%), rgb(224 223 246 / 50%));
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Rubik, sans-serif;
  font-weight: 300;
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
