@use "./fonts-mixin" as *;

:root {
  --color-text: #172f3d;
  --color-accent-first: #0c8bb4;
  --color-accent-last: #f53893;
  --color-link: var(--color-accent-first);
  --accent-gradient-color-3: #e1f1ff;
  --auth-bg-accent-color-first: #81b4ff;
  --auth-bg-accent-color-last: #ffc1ee;
  --filter-color-light-gray: #f1f5f7;
  --filter-color-gray: #e4ecf0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body {
  @include text;

  margin: 0;
  padding: 0;
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
blockquote,
p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: inherit;
}

li,
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.is-hidden {
  display: none;
}

a {
  color: inherit;
}
