// bg
$color-background-primary: rgb(255 255 255 / 100%);

// border
$color-component-border: rgb(202 202 202);
$color-component-border-hover: rgb(136 135 140 / 100%);
$color-component-border-active: rgb(62 15 164 / 100%);
$color-border-primary: rgb(32 31 31 / 100%);
$color-border-error: rgb(185 5 5 / 100%);

// button
$color-background-component-accent: rgb(127 78 235 / 100%);
$color-background-component-accent-hover: rgb(127 72 232 / 100%);
$color-background-component-accent-active: rgb(117 61 239 / 100%);
$color-background-component-secondary: rgb(232 222 255 / 100%);
$color-background-component-secondary-hover: rgb(226 213 255 / 100%);
$color-background-component-secondary-active: rgb(216 199 255 / 100%);
$color-background-component-tertiary-hover: rgb(243 238 255 / 100%);
$color-background-component-tertiary-active: rgb(239 231 255 / 100%);

// text
$color-text-primary: rgb(32 31 31 / 100%);
$color-text-contrast: rgb(250 250 250 / 100%);
$color-text-secondary: rgb(113 113 113 / 100%);
