.payslipspage {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50px;
}

div.react-datepicker__input-container {
  width: 100%;
}

div.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container input {
  width: 100%;
  height: 40px;
}
