.info-component {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.info-component__icon {
  align-items: center;
  width: 35px;
  height: 35px;
  height: 50px;
}

.info-component__value {
  margin-left: 10px;
  height: 50px;
  font-size: 20px;
  text-align: center;
}
