@use "../../styles/fonts-mixin" as *;
@use "../../styles/variables" as *;

.radio-select {
  @include text;

  position: relative;
  color: $color-text-primary;

  &__control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $color-component-border;
    border-radius: 8px;
    padding: 12px 16px;
    width: 280px;
    height: 44px;
    background-color: $color-background-primary;
    cursor: pointer;

    &:focus-visible:not(:disabled) {
      outline: none;
      border-color: $color-component-border-hover;
    }

    &:hover:not(:disabled) {
      border-color: $color-component-border-hover;
    }

    &--open {
      border-color: $color-component-border-hover;
    }
  }

  &__arrow {
    &--open {
      transform: rotate(180deg);
    }
  }

  &__dropdown {
    position: absolute;
    z-index: 100;
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    border: 1px solid $color-component-border;
    border-radius: 8px;
    padding: 4px;
    width: 100%;
    background-color: $color-background-primary;
  }

  &__option {
    display: flex;
    align-items: center;
    border: none;
    padding: 12px 16px;
    background: none;
    cursor: pointer;
    gap: 12px;

    &:hover,
    &:focus-visible {
      border-radius: 8px;
      background-color: $color-background-hover;
    }
  }

  input[type="radio"] {
    position: relative;
    outline: none;
    border: 1px solid $color-border-primary;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    cursor: pointer;
    appearance: none;

    &:checked::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      display: block;
      border-radius: 50%;
      width: 12px;
      height: 12px;
      background-color: $color-border-primary;
      transform: translate(-50%, -50%);
    }
  }
}
