@use "../../styles/media" as m;
@use "../../styles/variables" as v;
@use "../../styles/fonts-mixin" as f;

.modal-window {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 12px;
  padding: 24px 32px;
  width: 343px;
  height: max-content;
  box-shadow: 0 0 32px v.$color-shadow-modal;
  text-align: center;
  background-color: v.$color-background-modal;
  gap: 16px;

  &__title {
    @include f.h4;
  }

  &__text {
    @include f.text;
  }

  &__close-button {
    position: absolute;
    right: 12px;
    top: 12px;
    border: none;
    padding: 0;
    background-color: v.$color-background-modal;
    cursor: pointer;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 96px;
    gap: 8px;

    @include m.tablet {
      flex-direction: row;
      height: 44px;
    }
  }

  &--has-close-button {
    padding: 32px 32px 24px;
  }

  @include m.tablet {
    width: 480px;
  }
}
