.employee {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.employee-data :nth-child(n) {
  margin-top: 5px;
}

.employee-data__columns {
  display: flex;
  flex-direction: column;
}

.employee-data__rows {
  display: flex;
  flex-direction: row;
}

.employee-data__rows :nth-child(n) {
  margin-right: 10px;
}

.employee-data__rows :last-child {
  margin-right: 0;
}

.employee-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}
