.pay-slips {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 80%;
}

.pay-slips :hover {
  box-shadow: 0 7px 8px 0 rgb(34 60 80 / 20%);
  box-shadow: 0 7px 8px 0 rgb(34 60 80 / 20%);
  box-shadow: 0 7px 8px 0 rgb(34 60 80 / 20%);
}
