@use "../../styles/fonts-mixin" as *;
@use "../../styles/variables" as *;
@use "../../styles/media" as *;

.employee-edit {
  margin: 0 auto;
  padding: 24px 16px;

  &__title {
    @include h4;

    margin-bottom: 32px;
  }

  &__profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    gap: 16px;
  }

  &__avatar-container {
    border-radius: 100px;
    width: 84px;
    height: 84px;
  }

  &__default-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    background-color: #d4fffe;

    img {
      width: 42px;
      height: 42px;
    }
  }

  &__fullname {
    @include h5;

    color: $color-text-primary;
  }

  &__corporate-email {
    @include text;

    background: $color-text-gradient;
    background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 20px;

    & + & {
      margin-top: 24px;
    }

    @include tablet {
      flex-direction: row;
    }
  }

  &__field {
    width: 100%;
    min-width: 0;

    &--birth-date {
      @include tablet {
        min-width: 130px;
        max-width: 130px;
      }
    }
  }

  &__info {
    margin-bottom: 32px;
  }

  &__personal-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__action-buttons {
    display: flex;
    margin: 0 auto;
    gap: 8px;

    @include tablet {
      max-width: 328px;
    }
  }

  @include tablet {
    padding: 0;
    padding-top: 24px;
    max-width: 578px;
  }
}
