.pay-component {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.component-info {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  background-color: #fff;
}

.component-info:hover {
  box-shadow: 0 7px 8px 0 rgb(34 60 80 / 20%);
  text-decoration: none;
  color: #666;
}

.pay-component a {
  width: 100%;
}

.pay-component a:active,
.pay-component a:hover,
.pay-component a {
  text-decoration: none;
  color: #666;
}

.component-name {
  margin: 0 10px;
  pointer-events: none;
}

.component-date {
  min-width: 110px;
  pointer-events: none;
}

.component-download {
  margin: 0 10px;
  outline: none;
  border: none;
  padding: 0;
  height: 40px;
  background-color: inherit;
  pointer-events: visible;
}

button.component-download :hover {
  box-shadow: initial;
  cursor: pointer;
}
