.profile-nav {
  position: relative;
  border-bottom: 1px solid rgb(43 53 83 / 18%);

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: var(--color-white);
  }

  &__icon {
    display: block;
    font-size: 21px;
    line-height: 1;

    .fa-icon {
      display: block;
      margin: 0 auto;
    }
  }

  &__button {
    display: block;
    border: none;
    padding: 8px 16px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    color: rgb(43 53 83 / 34%);
    background: none;
    transition: all 0.3s linear;

    &:hover,
    &:focus {
      color: #2b3553;
    }

    &:focus {
      outline: none;
    }

    &--active {
      position: relative;
      color: #2b3553;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: $profile-nav;
        height: 3px;
        background-color: #00c9d7;

        @include tablet {
          left: 17px;
          right: 17px;
          bottom: -2px;
        }
      }
    }

    @include tablet-xl {
      padding: 20px 20px 9px;
    }
  }

  &__button-text {
    font-size: 10px;
    text-transform: uppercase;

    @include tablet {
      margin-top: 4px;
    }
  }

  @include tablet-xl {
    flex-grow: 1;
    padding-right: 20px;
    padding-left: 20px;
    width: auto;
  }
}
