@use "../../styles/fonts-mixin" as *;
@use "../../styles/variables" as *;
@use "../../styles/media" as *;

.employee-profile {
  margin: 0 auto;
  padding: 24px 16px;

  &__wrapper {
    display: flex;
    flex-direction: column;

    @include tablet-xl {
      flex-direction: row;
      gap: 20px;
    }
  }

  &__avatar-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;

    @include tablet-xl {
      margin-bottom: 0;
      max-width: 190px;
    }

    @include desktop-xl {
      max-width: 280px;
    }
  }

  &__avatar {
    img {
      width: 165px;
      height: 165px;

      @include desktop-xl {
        width: 207px;
        height: 207px;
      }
    }
  }

  &__fullname {
    @include h4;

    color: $color-text-primary;
  }

  &__corporate-email {
    @include text;

    max-width: max-content;
    background: $color-text-gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__birth-date {
    @include text;

    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 20px;

    & + & {
      margin-top: 24px;
    }

    @include tablet {
      flex-direction: row;
    }
  }

  &__field {
    width: 100%;
  }

  &__info-container {
    width: 100%;
    max-width: 578px;
  }

  &__info {
    margin-bottom: 32px;
  }

  &__personal-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    gap: 8px;
  }

  &__action-button {
    margin: 0 auto;

    @include tablet {
      max-width: 160px;
    }
  }

  @include tablet {
    padding: 0;
    padding-top: 24px;
    max-width: 534px;
  }

  @include tablet-xl {
    max-width: 726px;
  }

  @include desktop {
    max-width: 816px;
  }

  @include desktop-xl {
    max-width: 878px;
  }
}
