@use "../../styles/media" as *;
@use "../../styles/variables" as *;
@use "../../styles/fonts-mixin" as *;

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid $color-component-border;
  border-radius: 8px;
  padding: 12px 16px;
  width: 100%;
  max-height: 44px;
  background: $color-background-primary;
  gap: 16px;

  svg {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
  }

  &__input {
    @include text;

    outline: none;
    border: none;
    padding: 0;
    width: 100%;
    height: 100%;

    &::placeholder {
      color: $color-text-primary;
    }
  }

  &:focus-within {
    border-color: $color-component-border-hover;
  }

  &:hover:not(:disabled) {
    border-color: $color-component-border-hover;
  }

  @include tablet {
    width: 358px;
  }
}
