.indicator-value {
  display: flex;
  justify-content: space-between;

  &__label {
    font-size: 20px;
    color: #838383;
  }

  &__info {
    font-size: 20px;
    color: #000;
  }
}

.direction-column {
  flex-direction: column;

  & div.indicator-value__label:first-child {
    margin-bottom: 16px;
  }
}
