.button {
  display: block;
  margin: 0;
  margin-left: 10px;
  border: 1px solid #e4ecf0;
  border-radius: 12px;
  padding: 8px 32px;
  min-width: 120px;
  min-height: 40px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.15;
  text-align: center;
  background-color: #fff;
  cursor: pointer;
}
