.sidebar-settings-control__dropdown {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 110px;
  z-index: $sidebar-setting-control;

  @include tablet {
    left: 100%;
    right: auto;
    bottom: 10px;
    padding: 0 6px;
    width: 250px;
  }

  @include desktop {
    bottom: 0;
  }
}
