name: Deploy to Prod and e2e test to prod

on:
  push:
    branches:
      - master

jobs:
  # this is needed to wait for the new docker image to be build and published to the registry
  # so that we can use the image to run ui of the needed commit related version as part of local-env
  # the idea is taken from here https://stackoverflow.com/a/71489231
  push-to-registry:
    uses: ./.github/workflows/.reusable-docker-build-and-push.yml
    # without this it cannot login to the registry
    secrets: inherit

  deploy-to-prod:
    name: Deploy service to k8s for prod environment  
    needs: [push-to-registry]
    runs-on: self-hosted
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Deploy
        env:
          INNER_CIRCLE_PROD_NAMESPACE: ${{ secrets.INNER_CIRCLE_PROD_NAMESPACE }}
          INNER_CIRCLE_PROD_HOSTNAME: ${{ secrets.INNER_CIRCLE_PROD_HOSTNAME }}
          INNER_CIRCLE_PROD_EMPLOYEES_API_ROOT_URL: ${{ secrets.INNER_CIRCLE_PROD_EMPLOYEES_API_ROOT_URL }}
          INNER_CIRCLE_PROD_AUTH_API_ROOT_URL: ${{ secrets.INNER_CIRCLE_PROD_AUTH_API_ROOT_URL }}
        run: |
            helmfile cache cleanup && helmfile apply --suppress-diff --namespace "$INNER_CIRCLE_PROD_NAMESPACE"  -f ci/helmfile.yaml \
            --state-values-set image.tag="sha-${{ github.sha }}" \
            --state-values-set ingress.hostname="$INNER_CIRCLE_PROD_HOSTNAME" \
            --state-values-set extraConfigMapEnvVars.API_ROOT_URL="$INNER_CIRCLE_PROD_EMPLOYEES_API_ROOT_URL" \
            --state-values-set extraConfigMapEnvVars.AUTH_API_ROOT_URL="$INNER_CIRCLE_PROD_AUTH_API_ROOT_URL" > /dev/null 2>&1

  e2e-test-prod:
    runs-on: ubuntu-24.04
    container: cypress/browsers:node-22.18.0-chrome-138.0.7204.183-1-ff-141.0-edge-138.0.3351.121-1
    needs: [deploy-to-prod]
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm ci

      - name: Run Cypress E2E Tests
        # We run the tests through the command, and not using cypress-io/github-action@v6, because this is the only way to hide the logs that might contain secrets.

        # Learn more about '> /dev/null 2>&1': https://stackoverflow.com/a/42919998
        # In essence it merges output and error streams and doesn't show errors in the terminal to avoid leakage of secrets in the pipeline
        run: |
          npx cypress run \
          --e2e \
          --browser electron > /dev/null 2>&1 || (echo "E2E PROD TESTS FAILED!" && exit 1)    
        env:
          CYPRESS_BASE_URL: ${{ secrets.INNER_CIRCLE_PROD_BASE_URL }}
          API_ROOT_URL: ${{ secrets.INNER_CIRCLE_PROD_EMPLOYEES_API_ROOT_URL }}
          AUTH_API_ROOT_URL: ${{ secrets.INNER_CIRCLE_PROD_AUTH_API_ROOT_URL }}
          USER_LOGIN: ${{ secrets.INNER_CIRCLE_PROD_AUTH_FIRST_TENANT_LOGIN_WITH_ALL_PERMISSIONS  }}
          USER_PASSWORD: ${{ secrets.INNER_CIRCLE_PROD_AUTH_FIRST_TENANT_PASSWORD_WITH_ALL_PERMISSIONS  }}
