.absolute-component,
.marker-list {
  position: relative;
  border-radius: 10px;
  width: 32%;
  height: auto;
  box-shadow: 0 0 43px rgb(24 14 54 / 20%);
  background: #fff;
}

.absolute-component {
  padding: 32px 32px 42px;
}

.absolute-component__sum {
  border-bottom: 1px solid #c2c2c2;
  padding-bottom: 26px;
}

.absolute-component__values {
  display: flex;
  margin-top: 24px;
}

.absolute-component__values div.absolute-component__value:first-child {
  margin-right: 60px;
}

.marker-list {
  padding: 106px 32px 32px;
}

.marker-list__head {
  margin-bottom: 24.17px;
  font-weight: 500;
  font-size: 26px;
}

.marker-list__info {
  display: flex;
}

.marker-list__info-labels {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.marker-list__info-labels div:nth-last-child(n+2) {
  margin-bottom: 32.33px;
}

.marker-list__info-values {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 50%;
}

.marker-list__info-values div:nth-last-child(n+2) {
  margin-bottom: 32.33px;
}

.component-value__big {
  font-weight: 500;
  font-size: 36px;
  color: #000;
}

.component-value__min {
  font-weight: 500;
  font-size: 26px;
  color: #000;
}

.component-signature__big {
  font-weight: 500;
  font-size: 26px;
  color: #838383;
}

.component-signature__min {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 20px;
  color: #838383;
}

.ellipsis-component {
  position: absolute;
  left: -176px;
  top: -43.48px;
  border-radius: 50%;
  width: 230px;
  height: 230px;
  background-color: #8a2be2;
}

.icon-reverse {
  background-image: url("../../../../assets/icons/indicator-reserve.svg"), url("../../../../assets/icons/ellipse-left.svg");
  background-position: left 25px top 20px, left top;
  background-size: 40px, 120px;
  background-repeat: no-repeat;
}

.icon-desired {
  background-image: url("../../../../assets/icons/indicator-desired.svg"), url("../../../../assets/icons/ellipse-left.svg");
  background-position: left 25px top 20px, left top;
  background-size: 40px, 120px;
  background-repeat: no-repeat;
}

.icon-calendar {
  background-image: url("../../../../assets/icons/indicator-calendar.svg"), url("../../../../assets/icons/ellipse-right.svg");
  background-position: right 25px top 20px, right top;
  background-size: 40px, 120px;
  background-repeat: no-repeat;
}

.icon-expense {
  background-image: url("../../../../assets/icons/indicator-expense.svg"), url("../../../../assets/icons/ellipse-right.svg");
  background-position: right 25px top 20px, right top;
  background-size: 40px, 120px;
  background-repeat: no-repeat;
}
